### DYNAMIC CONFIGURATION FILE

{% if dynamic_inputs is defined %}
[INPUT]
{% for key in input %}
    {{ key }} {{ input[key] }}
{% endfor %}
{% endif %}

{% if dynamic_outputs is defined %}
[OUTPUT]
{% for key in input %}
    {{ key }} {{ input[key] }}
{% endfor %}
{% endif %}

{% if dynamic_filters is defined %}
[FILTER]
{% for key in input %}
    {{ key }} {{ input[key] }}
{% endfor %}
{% endif %}