[SERVICE]
{% if static_flush_seconds is defined %}
    Flush        {{ static_flush_seconds }}
{% endif %}
{% if static_daemon is defined %}
    Daemon       {{ (static_daemon | bool) | ternary('On', 'Off' ) }}
{% endif %}
{% if static_log_level is defined %}
    Log_Level    {{ static_log_level }}
{% endif %}    
{% if static_storage_path is defined %}
    storage.path {{ static_storage_path }}
{% endif %}
    Parsers_File parsers.conf
{% if static_parsers_file is defined %}
    storage.path {{ static_parsers_file }}
{% endif %}
    Plugins_File plugins.conf
{% if static_enable_metrics is defined %}
    HTTP_Server  {{ (static_enable_metrics | bool) | ternary('On', 'Off' ) }}
{% endif %}
{% if static_metrics_listen_ip is defined %}
    HTTP_Listen  {{ static_metrics_listen_ip }}
{% endif %}
{% if static_metrics_listen_port is defined %}
    HTTP_Port    {{ static_metrics_listen_port }}
{% endif %}
[INPUT]
#ONLY STATIC CONFIG IN THIS SECTION

{% if fluentbit_outputs is defined %}
[OUTPUT]
    name:           forward
    match:          '*'
    host:           10.7.0.5
    port:           24224
    shared_key:     ${SHAREDKEY}
    self_hostname:  ${HOSTNAME}
    tls:            on
    tls.verify:     off
    name:           prometheus_exporter
    match:          node_metrics
    host:           0.0.0.0
    port:           2021
{% for key in input %}
    {{ key }} {{ input[key] }}
{% endfor %}
{% endif %}

[FILTER]
#ONLY STATIC CONFIG IN THIS SECTION
@INCLUDE /etc/fluent-bit/dynamic/*.conf