[SERVICE]
{% if static_flush_seconds is defined %}
    Flush        {{ static_flush_seconds }}
{% endif %}
{% if static_daemon is defined %}
    Daemon       {{ (static_daemon | bool) | ternary('On', 'Off' ) }}
{% endif %}
{% if static_log_level is defined %}
    Log_Level    {{ static_log_level }}
{% endif %}
{% if static_storage_path is defined %}
    Storage.path {{ static_storage_path }}
{% endif %}
    Parsers_File parsers.conf
{% if static_parsers_file is defined %}
    Parsers_File {{ static_parsers_file }}
{% endif %}
{% if static_plugins_file is defined %}
    Plugins_File plugins.conf
{% endif %}
{% if static_enable_metrics is defined %}
    HTTP_Server  {{ (static_enable_metrics | bool) | ternary('On', 'Off' ) }}
{% endif %}
{% if static_metrics_listen_ip is defined %}
    HTTP_Listen  {{ static_metrics_listen_ip }}
{% endif %}
{% if static_metrics_listen_port is defined %}
    HTTP_Port    {{ static_metrics_listen_port }}
{% endif %}

#ONLY STATIC CONFIG IN THIS SECTION
[INPUT]
    Name            fluentbit_metrics
    Tag             ${HOSTNAME}_metrics
    Scrape_interval 5

[OUTPUT]
    Name           forward
    Match          *
    Host           {{ fluentd_host }}
    Port           {{ fluentd_port }}
    Shared_key     ${SHAREDKEY}
    Self_hostname  ${HOSTNAME}
    Tls            on
    Tls.verify     off
[OUTPUT]
    Name           prometheus_exporter
    Match          ${HOSTNAME}_metrics
    Host           0.0.0.0
    Port           {{ prometheus_port }}
    Add_label      node ${HOSTNAME}
{% if fluentbit_outputs is defined %}
{% for key in input %}
    {{ key }} {{ input[key] }}
{% endfor %}
{% endif %}

#[FILTER]
#ONLY STATIC CONFIG IN THIS SECTION
@INCLUDE /etc/fluent-bit/dynamic/*.conf
